//- EXTENDS 
extends extend/page.pug

//- CHANGE TITLE
block title
    -var titlePage = 'home'
    title #{titlePage}

//- CHANGE CONTENT
block content
    <!-- Navbar -->
    include ./components/navbar
    <!-- Header -->
    include ./components/header
    main
        <!-- Section about us -->
        include ./sections/about-us
        <!-- Section our projects -->
        include ./sections/projects




