//- EXTENDS 
extends extend/page.pug

//- CHANGE TITLE
block title
    -var titlePage = 'home'
    title #{titlePage}

//- CHANGE CONTENT
block content
    include ./components/navbar
    include ./components/header
    main
        include ./sections/about-us




