//- EXTENDS 
extends extend/page.pug

//- CHANGE TITLE
block title
    -var titlePage = 'projects'
    title #{titlePage}

//- CHANGE CONTENT
block content
    <!-- Options -->
    include ./extend/options
    <!-- Navbar -->
    include ./components/navbar
    <!-- Header -->
    include ./components/headerProjects
    main
        <!-- Section other projects -->
        include ./sections/other-projects
        <!-- Section contact -->
        include ./sections/contacts


