header.header.overflow-hidden
    .row.no-gutters.align-items-center.justify-content-center.container.h-100
        .col.text-primary.header__info.px-1
            h1.h-large.text-uppercase.weight-bolder
                span.d-lg-block bid &
                span.d-lg-block seize deal
            p.first-letter.p-mid.my-2.my-lg-5.weight-normal great service, great quality would recommend with nothing more nothing less. thank you sam and will use again in the future for sure.