header.header-projects.position-relative

    //-
    div.header-projects__info.position-absolute.p-4.rounded.text-primary
        h3#projectName.h-mid.text-uppercase.weight-bold.mb-3 project name
        p.p-large.text-capitalize.m-0 location: !{'<span id="projectLocation"></span>'}
        p.p-large.text-capitalize.m-0 date: !{'<span id="projectDate"></span>'}

    //- 
    .row.no-gutters.header-projects__wrapper.h-100.overflow-hidden.position-relative

        img(class="img-fluid obj-image" src="./img/header/1.jpg", alt="1")
        img(class="img-fluid obj-image" src="./img/header/1.jpg", alt="1")
        img(class="img-fluid obj-image" src="./img/header/1.jpg", alt="1")
        img(class="img-fluid obj-image" src="./img/header/1.jpg", alt="1")

div.container.my-4.h-50
    p.first-letter.p-mid.weight-bold#projectDesc BinQasem provides a platform on which you can offer objects to buyers in a range of countries worldwide. It is highly important for us that our platform is reliable and safe for both buyers and sellers, to guarantee the best possible customer experience and the best sales results. This requires you to accept and abide by the rules laid down in our Terms and Conditions. We want to take this opportunity to explain the most important rules for selling on BinQasem.

