header.header.overflow-hidden
    .row.no-gutters.align-items-center.justify-content-center.container.h-100
        .col.text-primary.header__info.px-1
            h1(class='h-large mb-3 text-uppercase weight-bolder heading w-50' key=title data-lang="head-1")
            p(class='first-letter p-mid m-0 par weight-normal' key=title data-lang="par-1")