header.header-projects.position-relative

    //-
    div.header-projects__info.position-absolute.p-4.rounded.text-primary
        h3#projectName.h-mid.text-uppercase.weight-bold.mb-3
        p.p-large.text-capitalize.m-0#projectLocation
        p.p-large.text-capitalize.m-0#projectDate

    //- 
    .header-projects__wrapper.h-100.overflow-hidden.position-relative#projectsWrapper


div.container.my-4.h-50.description
    p.first-letter.p-mid.weight-bold#projectDesc

