//- 
include ./svg

//- 
.whatsapp.d-flex.justify-content-center.align-items-center.cursor.rounded-circle

    a(href="https://wa.me/000000000000" target="_blank")
        +getSvgIcon('whatsapp', 'resize-svg-whatsapp')