nav.navbar.navbar-expand-lg.navbar-dark
    .container
        //- 
        include ./logo

        //- 
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")

        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            -const items = ['home', 'about us', 'projects', 'partners', 'contact us']
            ul(class="navbar-nav")
                each item in items
                    li.nav-item
                        a(class='nav-link weight-normal cursor text-capitalize text-primary py-2 px-2 py-lg-3 px-lg-3 mx-1' class=item == titlePage ? 'active' : '' data-section=item.replace(' ', '') key=item href=item == 'home'? '/' : item)=item