//- 
include ./svg

//- 
.search.d-flex.align-items-center
    +getSvgIcon('search', 'resize-svg mx-2 cursor')
    input(class='form-control rounded-0 text-primary' type="text" placeholder='SELL AT AUCTION')