/////////////////////////////
//// Navbar
// Navbar
.navbar {
  background-image: linear-gradient(
    to bottom,
    rgba(74, 83, 93, 0.404) 71%,
    rgba(103, 114, 125, 0.219)
  );

  //
  @media (max-width: 992px) {
    background-image: linear-gradient(
      to bottom,
      rgb(74, 83, 93) 98%,
      rgb(103, 114, 125)
    );
  }

  @media (min-width: 992px) {
    padding: 0 2px;
  }

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: block;

  // Nav item
  .nav-link {
    transition: all 0.3s;

    &:hover {
      //
      @media (hover: hover) {
        background-color: var(--blue-light);
      }
    }
  }

  // Active
  .active {
    background-color: var(--blue-light);
    font-weight: 500;
    pointer-events: none;
  }

  //
  &-nav {
    margin-left: auto;
  }
}

// Navbar collapse
.navbar-collapse {
  //
  @media (max-width: 992px) {
    margin-top: 10px;
  }
}

// Logo
.logo {
  //
  width: 170px;
  height: 50px;
  //
  @media (max-width: 600px) {
    width: 123px;
    height: 34px;
  }
}

/////////////////////////////
//// Other
// Head
.head {
  position: relative;

  // => After
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    left: 0;
    bottom: -20px;
    display: block;
    z-index: 9999;
  }
}

//
.btn:focus,
.btn:active {
  box-shadow: none;
}

//
h1,
h2,
h3,
h4,
h5 {
  user-select: none;
}

//
button:focus {
  outline: none;
}

//
.navbar-dark .navbar-toggler {
  border-color: var(--primary);
}

a.text-primary:hover,
a.text-primary:focus {
  color: white !important;
}
