/////////////////////////////
//// Navbar
// Navbar
.navbar {
  background-image: linear-gradient(
    to bottom,
    rgba(46, 53, 61, 0.74) 40%,
    rgba(74, 83, 93, 0.58) 71%,
    rgba(103, 114, 125, 0.41)
  );

  @media (max-width: 992px) {
    background-image: linear-gradient(
      to bottom,
      rgb(46, 53, 61) 40%,
      rgb(74, 83, 93) 71%,
      rgb(103, 114, 125)
    );
  }

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: block;

  // Nav item
  .nav-link {
    transition: all 0.3s;

    &:hover {
      //
      @media (hover: hover) {
        background-color: var(--blue-light);
      }
    }
  }

  // Active
  .active {
    background-color: var(--blue-light);
    font-weight: 500;
  }

  //
  .search {
    input {
      width: 160px;

      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
}

//
.navbar-collapse {
  //
  @media (max-width: 992px) {
    margin-top: 10px;
  }
}

// Logo
.logo {
  //
  width: 170px;
  height: 50px;
  //
  @media (max-width: 600px) {
    width: 123px;
    height: 34px;
  }
}

// Form control
.form-control {
  background-color: transparent;

  //
  input {
    font-family: inherit;
  }

  //
  &::placeholder {
    color: darkeen(map-get($theme-colors, primary), 2%);
    font-family: inherit;
  }
  //
  &:focus {
    background-color: inherit;
    outline: none;
    box-shadow: none;
  }
}

// Change lang
.change-lang {
  width: 60px;

  @media (max-width: 992px) {
    width: 100%;
  }
  //
  &__icon {
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  //
  svg {
    fill: black;
    display: block;
    width: 20px;
    height: 10px;
  }

  //
  & select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding-inline-end: 20px;
  }
}

/////////////////////////////
//// Other
// Head
.head {
  position: relative;

  // => After
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    left: 0;
    bottom: -20px;
    display: block;
    z-index: 9999;
  }
}

//
.btn:focus,
.btn:active {
  box-shadow: none;
}

//
h1,
h2,
h3,
h4,
h5 {
  user-select: none;
}

//
button:focus {
  outline: none;
}

//
.navbar-dark .navbar-toggler {
  border-color: var(--primary);
}
