// Cursor
.cursor {
  cursor: pointer;
}

// Resize svg
.resize-svg {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

//
.resize-svg-whatsapp {
  width: 40px;
  height: 40px;
  fill: #23cd62;
}

//
.resize-svg-contact {
  width: 16px;
  height: 16px;
  fill: var(--primary);
  flex-grow: 0;
  flex-shrink: 0;
}

//
.first-letter {
  //
  &::first-letter {
    text-transform: capitalize;
  }
}

// Cut word
.cut-word {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// More
.more {
  -webkit-line-clamp: 9999;
}

// Direction
.direction-ltr {
  direction: ltr;
}

//
.obj-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

//
.grow-0 {
  flex-grow: 0;
}

//
.shrink-0 {
  flex-shrink: 0;
}

//
.h-50 {
  height: 50vh;
}
