%extend {
  position: fixed;
  z-index: 9999;
}

// 1) Change lang
.change-lang {
  top: 25%;
  right: 0;
  height: 40px;
  width: 55px;
  @extend %extend;

  //
  &__icon {
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  //
  svg {
    fill: black;
    display: block;
    width: 20px;
    height: 10px;
  }

  //
  & select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding-inline-end: 20px;
  }
}

// 2) Icons whatsapp
.whatsapp {
  position: fixed;
  background-color: transparent;
  bottom: 20px;
  left: 20px;
  z-index: 9999;

  // Popup
  &__popup {
    width: 351px;
    bottom: 90px;
    left: 0;
    z-index: 9999;
    transform: translateY(50px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;

    @media (max-width: 600px) {
      width: 270px;
    }
    //
    &__welcome {
      background-color: var(--whatsapp);
    }

    //
    &__chat {
      //
      svg {
        fill: var(--whatsapp);
      }
      //
      &__open {
        border-width: 0 2px;
        border-style: solid;
        border-color: var(--whatsapp);
        transform: translateY(50px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s 0.3s ease;
        will-change: all;
      }
    }
  }

  // Icon
  &__icon {
    width: 60px;
    height: 60px;
    background-color: var(--whatsapp);
    box-shadow: 0 5px 5px rgba(map-get($theme-colors, secondary), 0.3);
    // General svg
    svg {
      transition: all 0.5s ease;
      will-change: all;
    }

    // icon Whatsapp
    &__whatsapp {
      transition: all 0.5s ease-in-out;
    }

    // icon Close
    &__close {
      opacity: 0;
      transition: all 0.2s 1s ease-in-out;
    }
  }

  // Title
  &__title {
    transition: all 0.5s ease;
  }

  ////////////////////////////
  //// Classes toggle
  //
  .hideIcon {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
    transform-origin: center;
  }

  //
  .visibleIcon {
    transform: rotate(-180deg);
    opacity: 1;
    transform-origin: center;
  }

  .moveDown {
    transform: translateY(30px);
    opacity: 0;
  }

  .moveUp {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
}
