//
html[dir="rtl"] body {
  direction: rtl;
  text-align: right;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  p {
    text-align: right;
  }

  ///////////////////////////
  //// Other
  .head::after {
    right: 0;
    left: auto;
  }

  //
  .change-lang__icon {
    left: 0;
    right: auto;
  }

  //
  .resize-svg {
    transform: scaleX(-1);
  }

  //
  .header {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/header/1.jpg);

    //
    &__info {
      margin-left: auto;
    }

    //
    h1 {
      width: 20%;
      line-height: 94px;

      //
      @media (max-width: 600px) {
        line-height: 50px;
      }
    }
  }

  //
  .contacts__section-1 p svg,
  .contacts__section-1__icons a:not(:last-of-type) {
    margin-left: 15px;
    margin-right: 0;
  }

  //
  .navbar-nav {
    margin-right: auto;
    margin-left: 0;
  }

  //
  .whatsapp {
    direction: ltr;
  }

  ///////////////////////////
  //// Slider
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    direction: ltr;
  }

  //
  .slick-slide {
    float: left;
  }
  //
  .slick-dots li:not(:last-of-type) {
    margin-left: 15px;
    margin-right: auto;
  }

  //
  .header-projects__info {
    right: 15%;
    left: auto;
    text-align: left;
  }
}
