//
html[dir="rtl"] body {
  direction: rtl;
  text-align: right;

  ///////////////////////////
  //// Other
  .head::after {
    right: 0;
    left: auto;
  }

  //
  .change-lang__icon {
    left: 0;
    right: auto;
  }

  //
  .resize-svg {
    transform: scaleX(-1);
  }

  //
  .header {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/header/1.png);

    //
    &__info {
      margin-left: auto;
    }
  }

  ///////////////////////////
  //// Slider
  //
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    direction: ltr;
  }

  .slick-slide {
    float: left;
  }

  .slick-dots li:not(:last-of-type) {
    margin-left: 15px;
    margin-right: auto;
  }
}
