//- 
include ../components/button-primary

//- 
section.about-us.my-5
    .row.no-gutters.container.py-5
        .col-lg-6
            h2.h-mid.weight-bold.text-uppercase about us
            p.first-letter.p-mid.my-4.weight-normal binqasem provides a platform on which you can offer objects to buyers in a range of countries worldwide. It is highly important for us that our platform is reliable and safe for both buyers and sellers, to guarantee the best possible customer experience and the best sales results. This requires you to accept and abide by the rules laid down in our terms and conditions. We want to take this opportunity to explain the most important rules for selling on binqasem.

            +createBtn('btn btn-blue-dark rounded-0 text-uppercase weight-normal', 'view more', '#', num) 