//- 
include ../components/button-primary

//- 
section.about-us.my-5#aboutus

    .row.no-gutters.container.py-5.h-100

        .col-lg-6.d-flex.align-items-center

            .about-us__info
                h2.h-mid.weight-bold.text-uppercase.mb-5.head#titleAboutUs
                p.first-letter.p-mid.my-4.weight-normal.cut-word#descAboutUs

                +createBtn('btn btn-blue-dark button rounded-0 px-5 more py-2 text-uppercase weight-normal', 'view more', '#', num)(key=title data-lang="btn-2")