//- 
include ../components/head-h2

//- 
section.other-projects.mb-5.overflow-hidden

    .container

        +headH2('other projects')(class="text-blue-dark heading" key=title data-lang="head-1")

        .other-projects__wrapper#otherProjectsWrapper