//- 
include ../components/head-h2
include ../components/image

//- 
section.partners.mt-3.mt-lg-4.d-flex.flex-column.align-items-center.justify-content-center#partners

        .row.no-gutters.container
            +headH2('our partners')


        .row.no-gutters.align-items-center.justify-content-around.partners__all-partners.h-100#partners__image

            .col-6.col-md-2.partners__all-partners__image.py-3.overflow-hidden
                +getImage('partners/1.png', 1)
            .col-6.col-md-2.partners__all-partners__image.py-3.overflow-hidden
                +getImage('partners/2.png', 2)
            .col-6.col-md-2.partners__all-partners__image.py-3.overflow-hidden
                +getImage('partners/3.png', 3)
            .col-6.col-md-2.partners__all-partners__image.py-3.overflow-hidden
                +getImage('partners/4.png', 4)
            .col-6.col-md-2.partners__all-partners__image.py-3.overflow-hidden
                +getImage('partners/5.png', 5)