//- 
include ../components/head-h2
include ../components/image

//- 
section.partners.mt-3.mt-lg-4.d-flex.flex-column.align-items-center.justify-content-center#partners

        .row.no-gutters.container
            +headH2('our partners')(class="heading" key=title data-lang="head-3")


        .row.no-gutters.align-items-center.justify-content-around.partners__all-partners.h-100#partners__image



            