//- 
include ../components/head-h2
include ../components/button-primary

//- 
section.our-projects.py-4.py-lg-0#projects

    .row.no-gutters.container.h-100.align-items-center

        .col-lg-6.text-primary.d-flex.align-items-center.py-3.order-1.order-lg-0

            .our-projects__info

                +headH2('our projects')(class="heading" key=title data-lang="head-2")
                h3.h-small.text-capitalize.my-4.weight-bold#head
                p.first-letter.text-light-darken.weight-normal.cut-word#par

                +createBtn('btn btn-primary button px-5 py-2 rounded-0 text-uppercase weight-normal', 'view more', '/projects')(id="viewMoreProject" key=title data-lang="btn-2")

        .col-lg-6.our-projects__images.order-0.order-lg-1

            .our-projects__wrapper